# SQLite database file path : no changes needed 
DATABASE_URL=sqlite:///./plans.db

# LaunchDarkly's Python server-side SDK key - replace with your actual SDK key from LaunchDarkly
LD_SDK_KEY=your-launchdarkly-server-sdk-key-here

# OpenAI API key for powering the CLEAR-ai chat assistant - replace with your actual OpenAI API key
OPENAI_ADMIN_KEY=your-openai-api-key-here

# LaunchDarkly API key with admin role goes here
LD_API_KEY=your-launchdarkly-api-key-here